@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.body{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.header{
    font-family: 'Cinzel', serif;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 39.49% 64.44%, 39.49% 23.2%, 52.67% 19.73%, 36.75% 19.73%, 36.75% 64.44%, 63.76% 100%, 0% 100%);
    animation: close 5s ease 0s 1 normal forwards;
}

.header__subtitle{
    color: #8D7F60;
}

.main{
    padding-top: 70px;
    background-color: #391515;
}

.header__logo{
    font-family: 'Cinzel', serif;
}

@keyframes close {
    from{ clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 39.49% 64.44%, 39.49% 23.2%, 52.67% 19.73%, 36.75% 19.73%, 36.75% 64.44%, 63.76% 100%, 0% 100%);}
    to{ clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 63.5% 100%, 36.75% 64.44%, 36.75% 19.73%, 52.67% 19.73%, 36.75% 19.73%, 36.75% 64.44%, 63.76% 100%, 0% 100%);}
}

.main__bar{
    min-height: 70px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.counter__card{
    flex-basis: 200px;
}
.counter__emphasis{
    color: #391515;
}

.carousel__bg{
    background-image: linear-gradient(45deg, rgba(63, 63, 63, 0.573),  #8d7f6078), url(../assets/images/pergamino.jpeg);
    background-size: cover;
    filter: sepia(1) brightness(0.7) contrast(1.3);
    height: 450px;
}

.carousel__border{
    width: 200px;
}

.introduction{
    white-space: nowrap;
    width: 0;
    font-size: 25px;
    overflow: hidden;
    border-right: transparent 2px solid;
    animation: typing 8s 5s steps(40) forwards,
    slash 0.5s infinite step-end alternate;
}

@keyframes typing {
    to{ width: 500px; }
}

@keyframes slash{
    50%{ border-color: white; }
}

.sepia-img{
    filter: sepia(1);
    transform: scale(1) translateY(0);
    transition: 1s transform ease;
}
.sepia-img:hover{
    transform: scale(1.2) translateY(-10%);
}

.bg-sepia{
    background: linear-gradient(45deg, rgba(63, 63, 63, 0.573),  #8D7F60);
}

.rooms__card{
    overflow: hidden;
    border-radius: 50% 50% 0 0;
}

.footer__map{
    height: 300px;
    filter: invert(100%) sepia(1);
}